POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=my_db
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"

REDIS_URL="redis://redis:6379"

APP_NAME=zenbunose

# Auth Secret
AUTH_SECRET=aba693f85bb1584e1f80cf960c39e3f68a159599e2618b24b5d98c5b1440f521